<p>
  <mat-toolbar color="primary">
    <span>Coder University</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home" routerLinkActive="mat-accent">
      Home
    </button>
    <button mat-button routerLink="/students" routerLinkActive="mat-accent">
      Students
    </button>
    <button mat-button [routerLink]="'/courses'" routerLinkActive="mat-accent">
      Courses
    </button>
    <button mat-button routerLink="/lessons" routerLinkActive="mat-accent">
      Lessons
    </button>
  </mat-toolbar>
</p>