<mat-toolbar class="mb-2">
  <span>Edit Inscription</span>
</mat-toolbar>

<div class="row">
  <div class="col-md-6">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="submit(form)">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Id</mat-label>
          <input matInput [formControlName]="'id'" [disabled]="true" />
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Students</mat-label>
          <mat-select formControlName="student">
            <mat-option *ngFor="let student of students$ | async" [value]="student.firstName + ' ' + student.lastName">
              {{ student.firstName }} {{ student.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Courses</mat-label>
          <mat-select formControlName="course">
            <mat-option *ngFor="let course of courses$ | async" [value]="course.name">
              {{ course.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="flex-center">
          <button mat-flat-button [routerLink]="'/inscriptions'" class="me-1">
            Go back
          </button>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>

