<mat-toolbar class="mb-2">
  <span>Edit Student</span>
</mat-toolbar>

<div class="row">
  <div class="col-md-6">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="submit(form)">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Id</mat-label>
          <input matInput [formControlName]="'id'" [disabled]="true" />
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Enter first name</mat-label>
          <input matInput [formControlName]="'firstName'" required />
          <mat-error *ngIf="form.value.firstName.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Enter last name</mat-label>
          <input matInput [formControlName]="'lastName'" required />
          <mat-error *ngIf="form.value.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Enter email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            [formControlName]="'email'"
            required
          />
          <mat-error *ngIf="form.value.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <div class="flex-center">
          <button mat-flat-button [routerLink]="'/students'" class="me-1">
            Go back
          </button>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
